node_modules
.sst
**/.DS_Store

/.cache
/build
.env

.sst/*

bun.lockb
package-lock.json
sst-env.d.ts
sst-env.json
sst-env.local.json

*.env

token.json
credentials.json
__pycache__/
venv/
.sst/
.sst
__pycache__/
__pycache__

*/__pycache__/
*/*/__pycache__
venv/

token.json
credentials.json